# Database
DATABASE_URL=

# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Webhook
WEBHOOK_SECRET=
WEBHOOK_CALLBACK_URL=

# Admin
ADMIN_SECRET=

# Discord
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ADMIN_ROLE_IDS=
DISCORD_LIVE_ROLE_ID=